.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}

.unit-switcher {
  margin-top: 10px;
}

.unit-switcher label {
  margin-right: 10px;
}

.weather-card {
  background-color: #524a4a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.forecast-card {
  background-color: #524c4c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.error {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
